/*main css formatting*/
body {
    background-color: #aaaaaa;
}

div {
    background-color: white;
}

img {
    max-width: 100%;
    height: auto;
}

/*layouts for the character sheet */
.stat {
    float: left;
    width: 37%;
}

.story {
    float: left;
    width: 37%;
    padding: 0 20px;
    overflow: hidden;
}

.char {
    float: left;
    width: 20%;
}

/*layout for character page*/
.character {
    float: left;
    width: 25%;
}

/*layout for contact page*/
.contact {
    text-align: center;
    margin: auto;
    width: 25%;
}

/*layout for campaign page*/
.campaign {
    padding: 30px;
}

/*additions for responsive layout for tablets*/
@media only screen and (max-width:800px) {
    .stat {
        width: 47%;
        padding: 0;
    }

    .story {
        width: 47%;
    }

    .char {
        width: 80%;
        padding: 0;
    }

}

/*additions for responsive layout for phones*/
@media only screen and (max-width:500px) {
    .stat,
    .story,
    .char {
        width: 100%;
    }

}

/*nav bar formatting*/
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    left: 175px;
    right: 175px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}
