body {
    background-color: #aaaaaa;
}

div {
    background-color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.stat {
    float: left;
    width: 30%;
}

.story {
    float: left;
    width: 45%;
    padding: 0 20px;
    overflow: hidden;
}

.char {
    float: left;
    width: 20%;
    padding: 10px 15px;
    margin-top: 7px;
}

.character {
    float: left;
    width: 25%;
}

.campaign {
    padding: 30px;
}

@media only screen and (max-width:800px) {
    .story {
        width: 60%;
        padding: 0;
    }
    .char {
        width: 100%;
    }
}

@media only screen and (max-width:500px) {
    .stat,
    .story,
    .char {
        width: 100%;
    }
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    left: 175px;
    right: 175px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}